{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- my css -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/reports.css' %}">

    <!--  -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static "images/favicon.ico" %}">
    <!-- for dynamic title -->
    <title>
        {% block title %}

        {% endblock title %}
    </title>
</head>

<body>
    <div>
        <!-- iclude to get the navbar here -->
        {% include "navbar.html" %}
    </div>
    <div>
        <!-- all the file having the block content will be inherited here, it is call jinja format -->
        {% block content %}

        {% endblock content %}
    </div>
</body>
<style>
    /* from google fonts */
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

    /* change the background to change the theme */
    html,
    body {
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        background: #ddeee6;
    }
</style>

<!-- bootstrap js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>

</html>